/* Header */
.header {
  background: #003e52;
  position: fixed;
  width: 100%;
  z-index: 1000;
  &.scrolled {
    background-color: #003445; // 滾動後的背景顏色
  }
  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: #b29564;
    font-size: 2rem;
    z-index: 1;
  }

  a:hover {
    text-decoration: none;
  }

  .navbar {
    padding-left: 7.5vw;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #003e52;
  }

  .svgDiv:hover {
    padding-bottom: 15px;
    border-bottom: 1px solid #b29564;
  }

  .svgDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .svg {
    width: 80px;
    height: 35px;
    position: absolute;
    z-index: 0;
  }

  .navbar .links {
    display: flex;
    gap: 20rem;
    justify-content: center;
    align-items: center;
  }

  .navbar .toggle_btn {
    color: #b29564;
    font-size: 2rem;
    cursor: pointer;
    display: none;
  }

  .love_btn {
    padding: 0.5rem 1rem;
    outline: none;
    font-weight: bold;
    cursor: pointer;
  }

  .action_btn {
    padding: 0.5rem 2rem;
    outline: none;
    font-weight: bold;
    cursor: pointer;
  }

  // .circle {
  //   height: 30px;
  //   width: 30px;
  //   background-color: #b29564;
  //   border-radius: 50%;
  //   display: inline-block;
  //   margin: 0rem 1rem;
  // }

  .search {
    align-items: center;
    justify-content: center;
    margin: 0.4rem 1rem;
  }

  .userimg:hover,
  .love_btn:hover,
  .action_btn:hover {
    transform: scale(1.05);
  }

  // .userimg:active,
  .action_btn:active .love_btn:active {
    transform: scale(0.95);
  }
  .search2 {
    display: none;
  }
  .searchDiv {
    display: none;
  }

  /* dropdown menu */
  .dropdown_menu {
    display: none;
    position: absolute;
    top: 70px;
    height: 0;
    width: 100%;
    background-color: #002d3c;
    overflow: hidden;
    transition: height cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 2;
  }

  .dropdown_menu a {
    color: #ffffff;
  }

  .dropdown_menu.open {
    height: 100vh;
  }

  .dropdown_menu li {
    padding: 3rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .dropdown_menu a {
    padding-bottom: 20px;
    border-bottom: 1px solid #726d6d;
    width: 60%;
    text-align: center;
    justify-content: center;
  }

  .logo2 {
    padding: 1.5rem;
    text-align: center;
    justify-content: center;
  }

  @media (max-width: 1600px) {
    .navbar .links {
    }
  }

  @media (max-width: 1300px) {
    .navbar {
      padding: 0 8vw;
      margin: 0 0vw;
    }
    .navbar {
      padding: 0 4vw;
    }

    .navbar .links {
      gap: 0 12rem;
    }
  }

  @media (max-width: 1100px) {
    .navbar .links {
      gap: 0 10rem;
    }
  }

  /* responsive design */
  @media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn,
    .love_btn,
    .circle,
    .search {
      display: none;
    }

    .navbar .toggle_btn {
      display: block;
    }

    .dropdown_menu {
      display: block;
    }
    .search2 {
      display: block;
      margin: 0rem 1rem;
    }
    .searchDiv{
      display: block;
    }
    .logo {
      width: 100px;
      height: 60px;
    }
    .navbar {
      height: 70px;
    }
  }
}
.star {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 12.5vw;
}
.searchForm {
  background-color: var(--primary-deep);
  color: var(--primary2);
  button {
    background-color: var(--primary2);
    color: #ffffff;
  }
  button:hover {
    background-color: var(--text-hover-color);
    color: var(--primary-light);
  }
}
