/* favorite-a */
/* ========================== */
.favoriteArticle {
  border-bottom: 3px solid var(--primary2) !important;
}
.favoriteArticleGroup {
  &.hasArticles {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
  }
}
.favoritea-cards {
  display: flex;
  justify-content: center;
}
.favoritea-pcard {
  width: 100%;
  height: 180px;
  // margin: 0 10px 0 10px;
  border: #b29564 1px solid;
  display: flex;
  position: relative;
  &:hover {
    background-color: var(--hover03);
    transition: 0.3s;
  }
  & .favoritea-markbtn {
    border: none;
    position: absolute;
    top: -7px;
    right: 10px;
  }
  & .favoritea-markbtn:hover {
    transform: scale(1.2);
  }
}
.favoritea-imgbox {
  width: 183px;
  height: 146px;
  display: flex;
  margin: auto 10px;
  overflow: hidden;
  position: relative;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.favoritea-cardtext {
  width: 500px;
  height: 124px;
  margin: 10px;
  line-height: 25px;
  padding-left: 10px;
  display: flex;
}
.favoritea-cardlefttext {
  // width: 800px;
  height: auto;
  margin-right: 20px;
  .articleContent {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
.favoritea-cardrighttext {
  width: 100px;
  height: 100%;

  margin-right: 30px;
  display: block;

  & > div {
    margin: 0;
    padding: 0;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
  }
}
.favoritea-bottomtext {
  color: var(--white);
  display: flex;

  padding-top: 10px;
}
/* favorite-c */
/* ========================== */
.favoriteCourse {
  border-bottom: 3px solid var(--primary2) !important;
}
.favoriteCourseGroup {
  &.hasArticles {
    grid-template-rows: repeat(4, 1fr);
    display: grid;
    gap: 1rem;
  }
}

.favoritec-cards {
  display: flex;
  justify-content: center;
  border: #b29564 1px solid;
}
.favoritec-pcard {
  width: 100%;
  height: 167px;
  // margin: 0 10px 0 10px;

  display: flex;
  position: relative;
}
.favoritec-imgbox {
  width: 183px;
  height: 146px;
  display: flex;
  margin: auto 10px;
  overflow: hidden;
  position: relative;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  & .favoritec-fabtn {
    position: absolute;
    bottom: 0;
    right: 0; /* 距离父元素左边20像素 */
    & img {
      width: 30px;
    }
  }
  & .favoritec-fabtn:hover {
    transform: scale(1.2);
  }
}

.favoritec-cardtext {
  display: flex;
  gap: 3rem;
  width: 700px;
  height: 130px;
  line-height: 25px;
  padding-left: 10px;
  padding-top: 10px;
}
.favoritec-cardlefttext {
  display: flex;

  gap: 1rem;
  flex-direction: column;
  // width: 680px;
  height: auto;
  .courseDescription {
    height: 7rem;
    > p {
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
}
.favoritec-cardrighttext {
  width: 180px;
  height: 100%;

  // margin-right: 30px;
  /* display: block; */

  & > div {
    margin: 0;
    padding: 0;
    color: #ffffff;
    display: flex;
    justify-content: start;
    align-items: center;
    line-height: 30px;
  }
  & img {
    width: 90%;
    height: 90%;
    object-fit: cover;
  }
}
.favoritec-bottomtext {
  color: var(--white);
  display: flex;
  padding-left: 10px;
  // /* padding-top: 10px; */
}

/* favorite-p */
/* ========================== */
.favoriteProduct {
  border-bottom: 3px solid var(--primary2) !important;
}

.favoritep-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.favoritep-pcard {
  // width: 244px;
  // height: 327px;
  border: #b29564 1px solid;
  position: relative;

  &:hover {
    background-color: rgba(128, 128, 128, 0);
    transition: 0.3s;
  }
}
.favoritep-imgbox {
  width: 100%;
  height: 165px;
  overflow: hidden;
  position: relative;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  & .favoritep-fabtn {
    background-color: #ffffff00;
    border: 0;
    position: absolute;
    width: 30px;
    bottom: 5px;
    right: 25px; /* 距离父元素左边20像素 */
    & img {
      width: 30px;
    }
  }
  & .favoritep-fabtn:hover {
    transform: scale(1.2);
  }
}
.favoritep-cardtext {
  padding: 10px;
  min-height: 22rem;

  div:first-child {
    height: 20rem;
  }
  & .favoritep-cardbtn {
    position: absolute;
    bottom: 10px;
    right: 10px; /* 距离父元素左边20像素 */

    width: 37px;
    height: 24px;
    border-radius: 3px;
    /* 金色底按鈕樣式 */
    background: var(--primary2);

    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.page-choose {
  color: #b29564;
  > div > div {
    min-width: 21rem;
  }
  .current {
    border: 1px solid #b29564;
    border-radius: 100%;
    background-color: #003445;
  }
  .page-number {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    > button {
      color: #b29564;
      border-radius: 100%;
      width: 3rem;
      height: 3rem;
      font-size: 1.6rem;
      display: grid;
      place-content: center;
    }
  }
}
.noFavorites {
  color: var(--primary2);
  grid-column: span 4;
  & a {
    border: 0.1rem solid var(--primary2);
    padding: 0.5rem 1rem;
  }
}
